
/* Main colors
#eeeef2;
#427aa1;
#064789; */

html, body { /* Main body settings */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #eeeef2;
}

body > h1 { /* Styles main h1 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0 0 100% 10%;
    background-color: #427aa1;
    color: #eeeef2;
    margin: 0; 
    
}

#signed {/* Styles "Signed as..." div */
    display: inline-block;
    text-align: center;
    padding-left: 12px;
}


/* Navbar */
.navbar { /* Styles navbar app-wide*/
    background-color: #eeeef2;
    opacity: 90%;
    position: sticky;
    width: 100%;
}
.navbar-toggler { /* Styles expand button in small navbar */
    background-color: #eeeef2;
    opacity: 100%;
    box-shadow: 0.3rem 0.3rem #427aa1;
}

/* alternative volor #427aa1 */

.active { /* The look of active link */
    background-color: #427aa1 !important;
    font-weight: bold;
    color: #eeeef2 !important;
}

.dropdown-menu { /* Styles dropdown menu */
    background-color: #eeeef2;
}

.dropdown-item { /* Styles single dropdown items */
    text-align: center;
}

.nav-item { /* Centers text open dropdown menu */
    text-align: center;
}

h2 { /* Styles main h2 above the page */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* Registration form */

#register_form > div {
    margin: 1rem;
    text-align: center;
}

.already_registered {
    text-align: center;
}

/* Login form */

#login_form > div {
    margin: 1rem;
    text-align: center;
}

/* Buttons */
.button {
    background-color: #427aa1;
    color: #eeeef2;
    font-weight: bold;
    width: fit-content;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    display: block;
}

#invalid_credentials {
    text-align: center;
}

#close_listing {
    height: 2rem;
    width: 20rem;
}

/* Listing card */
.row { /* Styles the whole row for both image and description */
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
    border-top: 1px solid;
}

.col-12 { /* Makes links fill in the whole width */
    width: 100%;
    padding: 0;
    margin: 0;
}
.col-6 { /* Styles both columns */
    width: 100%;
    padding: 0;
    margin: 0;
}

img { /*Styles listing image */
    max-width:100%;
    box-sizing: border-box;
}

.right_side {
    background-color: #eeeef2;
}

.elo { /* Styles div for name ane price */
    overflow: hidden;
    margin: 0.5rem;
    
}

.lol > p { /* Styles condition and sellers paragraphs */
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.listing-name {
    float: left;
    flex-wrap: wrap;
    color: #427aa1;
    font-weight: bold;
}

.listing-price {
    float: right;
    flex-wrap: wrap;
    color:#427aa1;
    font-weight: bold;
}

.listing-condition {
    text-align: left;
    color:#427aa1;
    font-weight: bold;
}

.listing-date {
    text-align: right;
    color: #427aa1;
    font-weight: bold;
}

.listing-description {
    text-align: center;
}

.listing-category {
    text-align: right;
    color: #427aa1;
    font-weight: bold;
    margin-right: 0.5rem;
}

.listing-seller {
    display: flex;
    float: left; 
    color: #427aa1;
    font-weight: bold;
    margin-left: 0.5rem;
}

/* Add to watchlist form */
#button-and-form {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

#add_to_watchlist_form {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#add_to_watchlist {
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    align-content: center;
    display: flex;
    align-items: center;
}

#listing-price {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
}

/* List of 5 highest bids */
#tabelka {
    display: block;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

table {
    caption-side: top;
    width: 100%;
    margin-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}


#table_caption {
    text-align: center;
    color: #427aa1;
    font-weight: bold;
}
thead {
    text-align: center;
    color:#eeeef2;
    background-color: #427aa1;
}

td {
    border: 1px solid
}

tr {
    text-align: center;
}


/* PLace a bid form */
#place_a_bid_form {
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0,5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#place_a_bid {
    margin: 0.5rem;
}

/* Comment section */

#comment_section {
    text-align: center;
}

#comment_heading {
    text-align: center;
    font-weight: bold;
    margin: 1rem;
    color: #427aa1;
}

#comment_section label {
    display: none;
}

#comment_form {
    margin-left: auto;
    margin-right: auto;
    
}
#comment_section textarea {
    height: 5rem;
    width: 20rem;
}

.all_comments_wrapper {
    display: flex;
}

.comment {
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    text-align: left;
}

.commenter {
    margin-right: 1rem;
    margin-top: 0.3rem;
    display: flex;
    justify-content: end;
    margin-bottom: 0;
}

.comment_date {
    margin-left: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    text-align: left;
    font-size: 0.8rem;

}

.one_comment_wrapper {
    border-top: 1px solid black;
}

/* Button for adding a comment */
#add_comment {
    margin-top: 0.5rem;
}

/* Stylize links */ 
a { 
    cursor: default; color: black; text-decoration:none; 
}
.a:hover {
    text-decoration: underline;
}

/* Select categories form */

#categories_form {
    margin-bottom: 1rem;
    text-align: center;
}

/* Create a form form */

#create_form > div {
    margin: 1rem;
    text-align: center;
}

#create_form > div > label {
    font-weight: bold;
    float: left;
}

#description_form {
    height: 10rem;
    width: 20rem;
}

/* Listing */

@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }
    .col-6 {
        width: 50%;
    }
    img {
        max-width: 300px;
        max-height: 300px;
    }
}