

html, body { /* Main body settings */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #F2F2F2;
}

body > h1 { /* Styles main h1 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0 0 100% 10%;
    background-color: #D95204;
    color: #F2F2F2;
    margin: 0; 
    
}

#signed {/* Styles "Signed as..." div */
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
}


/* Navbar */
.navbar { /* Styles navbar app-wide*/
    background-color: #F2F2F2;
    opacity: 90%;
    position: sticky;
    width: 100%;
}
.navbar-toggler { /* Styles expand button in small navbar */
    background-color: #F2F2F2;
    opacity: 100%;
    box-shadow: 0 0.3rem #8C030E;
}

.active { /* The look of active link */
    background-color: #8C030E !important;
    font-weight: bold;
    color: #F2F2F2 !important;
}

.dropdown-menu { /* Styles dropdown menu */
    background-color: #F2F2F2;
}

.dropdown-item { /* Styles single dropdown items */
    text-align: center;
}

.nav-item { /* Centers text open dropdown menu */
    text-align: center;
}

h2 { /* Styles main h2 above the page */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #F2F2F2;
    background-color: #8C030E;
}



/* Registration form */
#register_form > div {
    margin: 1rem;
    text-align: center;
}

.already_registered {
    text-align: center;
}

/* Login form */
#login_form > div {
    margin: 1rem;
    text-align: center;
}

/* Buttons */
.my_buttons {
    text-align: center;
    background-color: #8C030E;
    color: #F2F2F2;
    border: #8C030E 2px solid;
    margin-left: 0.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
}

/* Stylizes invalid credentials paragraph */
#invalid_credentials {
    text-align: center;
}

/* Listing card */
.all_listings {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    padding: 0;
}
.listing { /* Stylizes a small listing card */
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image_box { /* Styles listing image */
    margin: 0;
    width: 10rem;
    height: 10rem;
}

img { /* Styles listing image */
    width: 10rem;
    height: 10rem;
    box-sizing: border-box;
    object-fit: cover;
    margin: 0;
}

.nameprice_box { /* Stylizes small descriptions under small images */
    background-color: #D95204;
    width: 10rem;
    box-sizing: border-box;
    border-left: 1px solid #8C030E;
    border-right: 1px solid #8C030E;
    border-bottom: 1px solid #8C030E;
}

.nameprice_box > p { /* Stylizes title and price under small images */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #F2F2F2;
}

.listing_image { /* Stylizes big image in a listing view */
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main_info { /* Stylizes main information of a listing */
    padding-top: 0;
    background-color: #d9520438;
    margin-top: 0;
}

.listing_seller {
    color: #8C030E;
    font-size: large;
    margin-left: 1rem;
    margin-top: 1rem;
}

.listing_name {
    margin-left: 1rem;
    color: #8C030E;
    margin-bottom: 0;
    font-weight: bold;
}

.listing_description {
    text-align: left;
    margin-top: 0;
    margin-left: 1rem;
    color:#8C030E;
}

.secondary_info {
    background-color: #d9520438;
}

.listing_price {
    display: inline;
    color: #8C030E;
    font-size: larger;
    font-weight: bold;
    margin-left: 1rem;
}

.listing_date {
    text-align: right;
    font-weight: bold;
    font-size: small;
    margin-bottom: 0;
    margin-right: 1rem;
    color:#BF9780;
}

.listing_condition {
    margin-bottom: 0;
    margin-right: 1rem;
    text-align: right;
    color: #8C030E;
}

.listing-category {
    text-align: right;
    color: #427aa1;
    font-weight: bold;
    margin-right: 0.5rem;
}


/* Stylizes container for buttons - sticky bottom div */ 
.button_container {
    background-color: #BF9780;
    display: flex;
    position: sticky;
    bottom: 0%;
    width: 100%;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

/* Stylizes button forms in sticky bottom div */
.button_and_form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* List of 5 highest bids */
#tabelka {
    display: block;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

table {
    caption-side: top;
    width: 100%;
    margin-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

#sold_to_banner {
    text-align: center;
}

#table_caption {
    text-align: center;
    color: #8C030E;
    font-weight: bold;
}
thead {
    text-align: center;
    color:#8C030E;
    background-color: #BF9780;
}

td {
    border: 1px solid;
    width: 50%;
    font-weight: bold;
    color: #0d0d0d;
}

tr:nth-child(2n+1) {
    background-color: #d9520438;
}

/* No active bids banner */
#no_bids {
    margin-top: 2rem;
    text-align: center;
    color: #8C030E;
    font-weight: bold;
}


/* PLace a bid form */
#place_a_bid_form {
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0,5rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#place_a_bid {
    margin: 0.5rem;
}

#bid {
    color:#8C030E;
}

/* Comment section */
#comment_section {
    text-align: center;
}

#comment_heading {
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
    color: #8C030E;
}

#comment_section label {
    display: none;
}

#comment_form {
    margin-left: auto;
    margin-right: auto;
    
}
#comment_section textarea {
    height: 5rem;
    width: 20rem;
}

.comment {
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    text-align: left;
}

.commenter {
    margin-right: 1rem;
    margin-top: 0.3rem;
    display: flex;
    justify-content: end;
    margin-bottom: 0;
}

.comment_date {
    margin-left: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    text-align: left;
    font-size: 0.8rem;

}

#all_comments_wrapper {
    padding: 1rem;
}

.one_comment_wrapper {
    border-top: 1px solid black;
}

.one_comment_wrapper:nth-child(2n) {
    background-color: #d9520438;
}

/* Intially none, if a comment is empty, JS changes to block */
#empty_comment {
    display: none;
}

/* Button for adding a comment */
#add_comment {
    margin-top: 0.5rem;
}

/* Stylize links */ 
a { 
    cursor: default; text-decoration:none; 
}


/* Select categories form */
#categories_form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Create a form form */
#create_form > div {
    margin: 1rem;
    text-align: center;
}

#create_form > div > label {
    font-weight: bold;
    float: left;
}

#description_form {
    height: 10rem;
    width: 20rem;
}


footer { /* Stylizes footer */
    margin-top: 1rem;
    height: 20rem;
    background-color: #0d0d0d;
}

/* Listing */

@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }
    .col-6 {
        width: 50%;
    }
    img {
        max-width: 300px;
        max-height: 300px;
    }
}