

html, body { /* Main body settings */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #F2F2F2;
}

body > h1 { /* Styles main h1 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0 0 100% 10%;
    background-color: #818181;
    color: #F2F2F2;
    margin: 0; 
    
}

#signed {/* Styles "Signed as..." div */
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
}


/* Navbar */
.navbar { /* Styles navbar app-wide*/
    background-color: #F2F2F2;
    opacity: 90%;
    position: sticky;
    width: 100%;
}
.navbar-toggler { /* Styles expand button in small navbar */
    background-color: #C5C5C5;
    opacity: 100%;
    box-shadow: 0 0.3rem #818181;
}

.active { /* The look of active link */
    background-color: #818181 !important;
    color: #F2F2F2 !important;
}

.dropdown-menu { /* Styles dropdown menu */
    background-color: #F2F2F2;
}

.dropdown-item { /* Styles single dropdown items */
    text-align: center;
}

.nav-item { /* Centers text open dropdown menu */
    text-align: center;
}

h2 { /* Styles main h2 above the page */
    display: block;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #818181;
    border-radius: 1rem;
}



/* Registration form */
#register_form > div {
    margin: 1rem;
    text-align: center;
}

.already_registered {
    text-align: center;
}

/* Login form */
#login_form > div {
    margin: 1rem;
    text-align: center;
}

/* Buttons */
.my_buttons {
    text-align: center;
    background-color: #818181;
    color: #F2F2F2;
    border: #818181 2px solid;
    margin-left: 0.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
}

/* Stylizes invalid credentials paragraph */
#invalid_credentials {
    text-align: center;
}

/* Listing card */
.all_listings {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    padding: 0;
}
.listing { /* Stylizes a small listing card */
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image_box { /* Styles listing image */
    margin: 0;
    width: auto;
    height: auto;
}

img { /* Styles listing image */
    width: auto;
    height: auto;
    margin: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.nameprice_box { /* Stylizes small descriptions under small images */
    background-color: #818181;
    width: auto;
    box-sizing: border-box;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    border-bottom: 1px solid #818181;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.nameprice_box > p { /* Stylizes title and price under small images */
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #f2f2f2;
}

.listing_image { /* Stylizes big image in a listing view */
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}


.main_info { /* Stylizes main information of a listing */
    background-color: #C5C5C5;
    margin: 1rem;
    border: 1px #C5C5C5 solid;
    border-radius: 1rem;
}

.listing_name_big {
    font-size: larger;
    margin: 1rem;
    text-align: left;
}

.listing_seller_big {
    margin: 1rem;
}

.listing_seller {
    color: #0d0d0d;
    font-size: large;
    margin-left: 1rem;
    margin-top: 1rem;
}

.listing_name {
    padding-top: 0.5rem;
    color: #0d0d0d;
}

.listing_description {
    text-align: left;
    margin-top: 0;
    margin-left: 1rem;
    color:#0d0d0d;
}

.secondary_info {
    margin: 1rem;
    background-color: #C5C5C5;
    margin-top: 0;
    border: 1px #C5C5C5 solid;
    border-radius: 1rem;
}

.listing_price_big {
    margin: 1rem;
}


.listing_date {
    text-align: right;
    font-size: smaller;
    margin-bottom: 0;
    margin-right: 1rem;
    color:#0d0d0d;
}

.listing_condition {
    margin-bottom: 0;
    margin-right: 1rem;
    text-align: right;
    color: #0d0d0d;
}


/* Stylizes container for buttons - sticky bottom div */ 
.button_container {
    background-color: #C5C5C5;
    display: flex;
    position: sticky;
    bottom: 0%;
    width: 100%;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

/* Stylizes button forms in sticky bottom div */
.button_and_form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* List of 5 highest bids */
#tabelka {
    display: block;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

table {
    caption-side: top;
    width: 100%;
    margin-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

#sold_to_banner {
    text-align: center;
}

#table_caption {
    text-align: center;
    color: #0d0d0d;
}
thead {
    text-align: center;
    color:#0d0d0d;
    background-color: #818181 !important;
}

td {
    border: 1px solid;
    width: 50%;

    color: #818181;
}

tr:nth-child(2n) {
    background-color: #F2F2F2;
}

tr:nth-child(1) {
    font-weight: bold;
}

/* No active bids banner */
#no_bids {
    margin-top: 2rem;
    text-align: center;
    color: #0d0d0d;
    font-weight: bold;
}


/* PLace a bid form */
#place_a_bid_form {
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0,5rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#place_a_bid {
    margin: 0.5rem;
}

#bid {
    color:#0d0d0d;
}

/* Comment section */
#comment_section {
    text-align: center;
}

#comment_heading {
    text-align: center;
    margin-top: 2rem;
    color: #0d0d0d;
}

#comment_section label {
    display: none;
}

#comment_form {
    margin-left: auto;
    margin-right: auto;
    
}
#comment_section textarea {
    height: 5rem;
    width: 20rem;
}

.comment {
    font-weight: bold;
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    text-align: left;
}

.commenter {
    margin-right: 1rem;
    margin-top: 0.3rem;
    display: flex;
    justify-content: end;
    margin-bottom: 0;
}

.comment_date {
    margin-left: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    text-align: left;
    font-size: 0.8rem;

}

#all_comments_wrapper {
    padding: 1rem;
    border-bottom: 1px solid black;
}

.one_comment_wrapper {
    border-top: 1px solid black;
}

/* Intially none, if a comment is empty, JS changes to block */
#empty_comment {
    display: none;
}


/* Select categories form */
#categories_form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Create a form form */
#create_form {
    text-align: center;
}

#create_form > div {
    margin: 1rem;
}

#create_form > div > label { /* Stylizes lables in a form */
    font-weight: bold;
    display: block;
}

#image_form {
    padding-left: 2rem;
    margin: 0;
    font-size: smaller;
}

#description_form {
    height: 8rem;
    width: 80%;
}


/* Stylizes footer */
footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    background-color: #818181;
    font-weight: bold;
}

#footer_links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 1rem;
}

footer > p {
    text-align: center;
    font-size: small;
    color: #F2F2F2;
}

/* Stylizes links */
/* a {
    text-decoration: none;
    color: #F2F2F2;
}
    /*

/* Pagination */
.pagination {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* Listing */

@media (min-width: 768px) {
    .all_listings {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .listing { /* Stylizes a small listing card */
        width: 45%;
    }
    
    .image_box { /* Styles listing image */
        width: auto;
        height: auto;
    }
    
    img { /* Styles listing image */
        width: 100%;
        height: auto;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    a {
        display: flex;

    }
    
    .nameprice_box { /* Stylizes small descriptions under small images */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #818181;
        width: 10rem;
        box-sizing: border-box;
        border-left: 1px solid #818181;
        border-right: 1px solid #818181;
        border-bottom: 1px solid #818181;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }

    .nameprice_box > p {
        text-wrap: wrap;
    }
    /* Paginator link */
    .step-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* "Next", "Last" pagination buttons */
    .step-links > a {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
    
}