{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <hr>
    <form action ="{% url 'categories' %}" method="get" name="categories" id="categories_form">
        <select id="selected_category">
            <option selected="true" disabled="disabled">Choose a category</option>  
            {% for category in all_categories %}
            <option class="option" value="{{ category.0 }}">{{ category.1 }}</option>
            {% endfor %}
        </select>
    </form>

    <div id="list_of_listings">
        <!-- Populated depending on user's choice from select form-->
    </div>
    

{% endblock %}