{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="all_listings"> <!-- listing_granparent (DONE) -->
        {% for listing in listings %}
        {% if listing.active == True %}
        <div class="listing">
            <a href="{% url 'show_listing' listing.id listing.name %}">
                <div class="image_box">
                    <img src="{{ listing.image.url }}" alt="{{ listing.description }}" class="justify-content-center">
                </div>
                <div class="nameprice_box">
                    <p class="listing_name">{{ listing.name }}</p>
                    <p class="listing_price">PLN {{ listing.price }}</p>
                </div>
            </a>
        </div>

                        <!-- <p id="listing-category">{{ listing.get_category_display }}</p> -->
   
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}