{% extends "auctions/layout.html" %}

{% block body %}
{% if user_purchases %}
<h2>My purchases</h2>
<div class="all_listings">
    {% for listing in user_purchases %}
    <div class="listing">
        <a href="{% url 'show_listing' listing.id listing.name %}">
            <div class="image_box">
                <img src="{{ listing.image.url }}" alt="{{ listing.description }}" class="justify-content-center">
            </div>
            <div class="nameprice_box">
                <p class="listing-name">{{ listing.name }}</p>
                <p class="listing-price">PLN {{ listing.price }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
<h2> You have not bought anything</h2>
{% endif %}
{% endblock %}