{% extends "auctions/layout.html" %}

{% block body %}
    {% if user_purchases %}
    <h2>My purchases</h2>
    {% for listing in user_purchases %}
    <div class="row justify-content-center listing">
        <a href="{% url 'show_listing' listing.id listing.name %}" class="col-12">

            <div class="col-6 left_side image">
                <img src="{{ listing.image.url }}" alt="{{ listing.description }}" class="justify-content-center">
            </div>
            <div class="col-6 right_side">
                <div class="elo">
                    <h4 class="listing-name">{{ listing.name }}</h4>
                    <h4 class="listing-price">PLN {{ listing.price }}</h4>
                </div>
                <div class="lol">
                    <!-- <p id="listing-category">{{ listing.get_category_display }}</p> -->
                    <p class="listing-condition">{{ listing.get_condition_display }}</p>
                    <p class="listing-date">{{ listing.date }}</p>
                </div>
            </div>
        </a>
    </div>
    </a>
    {% endfor %}
    {% else %}
    <h2> You have not bought anything</h2>
    {% endif %}
{% endblock %}