{% extends "auctions/layout.html" %}

{% block body %}

{% if watchlist %}
    <h2 id="title">Your Watchlist</h2>
    {% else %}
    <h2 id="title">Your Watchlist is empty</h2>
{% endif %}

    {% for listing in watchlist.listing.all %}
    <!-- Display information about the listing -->
    <div class="row justify-content-center listing">
        <a href="{% url 'show_listing' listing.id listing.name %}" class="col-12">

            <div class="col-6 left_side image">
                <img src="{{ listing.image.url }}" alt="{{ listing.description }}" class="justify-content-center">
            </div>
            <div class="col-6 right_side">
                <div class="elo">
                    <h4 class="listing-name">{{ listing.name }}</h4>
                    <h4 class="listing-price">PLN {{ listing.price }}</h4>
                </div>
                <div class="lol">
                    <!-- <p id="listing-category">{{ listing.get_category_display }}</p> -->
                    <p class="listing-condition">{{ listing.get_condition_display }}</p>
                    <p class="listing-date">{{ listing.date }}</p>
                </div>
            </div>
        </a>
    </div>
            <!-- Remove from watchlist form -->
            <form action="{% url 'remove_from_watchlist' listing.id %}" method="post" class="remove_from_watchlist" name="remove_from_watchlist" id="remove_from_watchlist">
                {% csrf_token %}
                <input type="hidden" value="{{ listing.id }}" name="listing_id" class="listing_id">
                <input type="submit" value="Remove from watchlist" class="button">
            </form>
        </div>
    {% endfor %}
{% endblock %}